<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cinekancha">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".article.ArticleDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".article.ArticleListActivity" />
        <activity
            android:name=".trivia.TriviaListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".movieReview.ReviewListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".trolls.TrollListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".movieDetail.MoviePostDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".newsGossips.NewsGossipsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".upcomingMovies.UpcomingMovieActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".boxOffice.BoxOfficeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".movies.MovieActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".poll.PollsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".newRelease.NewReleaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".trending.TrendingActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".trending.FullMoviesActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".actor.ActorListActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".actor.ActorDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>